lib/
build/
out/
.vs/
.vscode/launch.json
vsproj/
.cache/
compile_commands.json
CMakeSettings.json
neovim.json
.zed/
.idea/
cmake-build-debug/
cmake-build-debug-coverage/
cmake-build-release/
cmake-build-minsizerel/
cmake-build-relwithdebinfo/
cmake-build-debug-gcc
cmake-build-release-gcc
default.profraw
*.sublime-workspace